Name : Koushal Bhat
Batch : M11

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df_cleveland = pd.read_csv('processed.cleveland.csv')
df_switzerland = pd.read_csv('processed.switzerland.csv')
df_hungary = pd.read_csv('processed.hungarian.csv')

In [ ]:
df_cleveland.dtypes

63.0     float64
1.0      float64
1.0.1    float64
145.0    float64
233.0    float64
1.0.2    float64
2.0      float64
150.0    float64
0.0      float64
2.3      float64
3.0      float64
0.0.1     object
6.0       object
0          int64
dtype: object

In [ ]:
df_switzerland.head()

   32  1  1.1   95  0  ? 0.1  127 0.2   .7 1.2 ?.1 ?.2  1.3
0  34  1    4  115  0  ?   ?  154   0   .2   1   ?   ?    1
1  35  1    4    ?  0  ?   0  130   1    ?   ?   ?   7    3
2  36  1    4  110  0  ?   0  125   1    1   2   ?   6    1
3  38  0    4  105  0  ?   0  166   0  2.8   1   ?   ?    2
4  38  0    4  110  0  0   0  156   0    0   2   ?   3    1

In [ ]:
df_cleveland.replace('?', np.NaN, inplace=True)
df_switzerland.replace('?', np.NaN, inplace=True)
df_hungary.replace('?', np.NaN, inplace=True)

In [ ]:
obj_cols_cleve = df_cleveland.select_dtypes('object').columns
df_cleveland[obj_cols_cleve] = df_cleveland[obj_cols_cleve].astype('float')

obj_cols_swiss = df_switzerland.select_dtypes('object').columns
df_switzerland[obj_cols_swiss] = df_switzerland[obj_cols_swiss].astype('float')

obj_cols_hung = df_hungary.select_dtypes('object').columns
df_hungary[obj_cols_hung] = df_hungary[obj_cols_hung].astype('float')

In [ ]:
print("cleveland shape: ", df_cleveland.shape)
print("switzerland shape: ", df_switzerland.shape)
print("hungary shape: ", df_hungary.shape)

cleveland shape:  (302, 14)
switzerland shape:  (122, 14)
hungary shape:  (293, 14)

In [ ]:
df_cleveland.columns = [
    "age",
    "sex",
    "chest_pain",
    "trestbps",
    "cholestrol",
    "fbs",
    "restecg",
    "thalach",
    "exang",
    "oldpeak",
    "slope",
    "ca",
    "thal",
    "num"
]

df_switzerland.columns = [
    "age",
    "sex",
    "chest_pain",
    "trestbps",
    "cholestrol",
    "fbs",
    "restecg",
    "thalach",
    "exang",
    "oldpeak",
    "slope",
    "ca",
    "thal",
    "num"
]

df_hungary.columns = [
    "age",
    "sex",
    "chest_pain",
    "trestbps",
    "cholestrol",
    "fbs",
    "restecg",
    "thalach",
    "exang",
    "oldpeak",
    "slope",
    "ca",
    "thal",
    "num"
]

In [ ]:
df = pd.concat(
    objs = [df_cleveland, df_switzerland, df_hungary],
    axis=0
)

In [ ]:
df.shape

(717, 14)

In [ ]:
df.head()

,age,sex,chest_pain,trestbps,cholestrol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
1,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
2,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
3,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0
4,56.0,1.0,2.0,120.0,236.0,0.0,0.0,178.0,0.0,0.8,1.0,0.0,3.0,0

In [ ]:
df.dtypes

age           float64
sex           float64
chest_pain    float64
trestbps      float64
cholestrol    float64
fbs           float64
restecg       float64
thalach       float64
exang         float64
oldpeak       float64
slope         float64
ca            float64
thal          float64
num             int64
dtype: object

In [ ]:
# analysing the target variable
target = df['num']
target.unique()

array([2, 1, 0, 3, 4], dtype=int64)

In [ ]:
# Binarizing the target
df['num'].replace([1,2,3,4], 1, inplace=True)

In [ ]:
df['num'].unique()

array([1, 0], dtype=int64)

In [ ]:
df.isnull().sum()

age             0
sex             0
chest_pain      0
trestbps        3
cholestrol     23
fbs            82
restecg         2
thalach         2
exang           2
oldpeak         6
slope         206
ca            411
thal          318
num             0
dtype: int64

In [ ]:
# calculating mean of numerical values
num_cols = [
    "trestbps", "cholestrol", "thalach", "oldpeak"
]

mean_data = {}
for col in num_cols:
    series = df[col]
    num_data = series[series.isnull() == False]
    mean_data[col] = num_data.mean()

for col in num_cols:
    df[col].fillna(
        value=mean_data[col],
        inplace=True
    )

In [ ]:
df.isnull().sum()

age             0
sex             0
chest_pain      0
trestbps        0
cholestrol      0
fbs            82
restecg         2
thalach         0
exang           2
oldpeak         0
slope         206
ca            411
thal          318
num             0
dtype: int64

In [ ]:
# Replacing categorical cols with modal values
cat_cols = [
    "fbs",
    "restecg",
    "exang",
    "slope",
    "ca",
    "thal"
]

modal_data = {}

for col in cat_cols:
    temp_series = df[col]
    num_data = temp_series[temp_series.isnull() == False]
    modal_data[col] = num_data.mode()[0]

for col in cat_cols:
    df[col].fillna(
        value = modal_data[col],
        inplace = True
    )

In [ ]:
df.isnull().sum()

age           0
sex           0
chest_pain    0
trestbps      0
cholestrol    0
fbs           0
restecg       0
thalach       0
exang         0
oldpeak       0
slope         0
ca            0
thal          0
num           0
dtype: int64

In [ ]:
# calculating skewness of numerical cols
# for identifying outliers

skew_data = {}

for col in num_cols:
    skew_coefficient = df[col].skew()
    skew_data[col] = skew_coefficient
    
skew_data

{'trestbps': 0.6708073635002362,
 'cholestrol': -0.6421302852219596,
 'thalach': -0.3396352506223693,
 'oldpeak': 1.2372282548818176}

In [ ]:
# Checking number of data points beyond 95th percentile of skewed variable
perc = df["oldpeak"].quantile(0.95)

print("95th percentile : ", perc)

filtered = df[df["oldpeak"] >= perc]
print("Data points beyond 95th percentile : ", filtered.shape[0])

95th percentile :  3.0
Data points beyond 95th percentile :  38

In [ ]:
# Dropping the outlier data
df = df[df['oldpeak'] < perc]

In [ ]:
df.shape

(679, 14)

In [ ]:
# Data Transformation
# scaling the numeric values
for col in num_cols:
    df[col] = (df[col] - df[col].min()) / (df[col].max() - df[col].min())

In [ ]:
# creating subsets for target variables for fair distribution in training and testing datasets
dataset_target_0 = df[df.num == 0]
dataset_target_1 = df[df.num == 1]
print("Shape of target 1 data : ", dataset_target_1.shape)
print("Shape of target 0 data : ", dataset_target_0.shape)

Shape of target 1 data :  (325, 14)
Shape of target 0 data :  (354, 14)

In [ ]:
# Shuffling the data subsets
dataset_target_1 = dataset_target_1.sample(frac=1)
dataset_target_0 = dataset_target_0.sample(frac=1)

# Confirming shapes for no value loss
print("Shape of target 1 data : ", dataset_target_1.shape)
print("Shape of target 0 data : ", dataset_target_0.shape)

Shape of target 1 data :  (325, 14)
Shape of target 0 data :  (354, 14)

In [ ]:
# Calculating 80 percent mark
target_0_mark = int(dataset_target_0.shape[0]*0.8)
target_1_mark = int(dataset_target_1.shape[0]*0.8)

# Generating train data
train_data = pd.concat(
    objs=[
        dataset_target_0.iloc[:target_0_mark, :],
        dataset_target_1.iloc[:target_1_mark, :]
    ],
    axis=0
)

# Generating test data
test_data = pd.concat(
    objs=[
        dataset_target_0.iloc[target_0_mark:, :],
        dataset_target_1.iloc[target_1_mark:, :]
    ],
    axis=0
)

# Shuffling the training and testing data
train_data = train_data.sample(frac=1)
test_data = test_data.sample(frac=1)

# Checking data shapes
print("Training data shape : ", train_data.shape)
print("Testing data shape  : ", test_data.shape)

Training data shape :  (543, 14)
Testing data shape  :  (136, 14)

In [ ]:
# Splitting training data
train_inputs = train_data.iloc[:, :-1]
train_targets = train_data.iloc[:, -1]

# Splitting testing data
test_inputs = test_data.iloc[:, :-1]
test_targets = test_data.iloc[:, -1]

# Checking shape of data
print("Train inputs shape : ", train_inputs.shape)
print("Train targets shape : ", train_targets.shape)
print("Test inputs shape : ", test_inputs.shape)
print("Test targets shape : ", test_targets.shape)

Train inputs shape :  (543, 13)
Train targets shape :  (543,)
Test inputs shape :  (136, 13)
Test targets shape :  (136,)

In [ ]:
# Importing model
from sklearn.linear_model import LogisticRegression
logReg_model = LogisticRegression()
# Training the model
logReg_model.fit(train_inputs, train_targets)
print("Model trained")

Model trained

c:\users\sid\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [ ]:
# checking accuracy:
print("Training score: ", model.score(x_train, y_train))
print("Testing score: ", model.score(x_test, y_test))

Training score:  0.8444444444444444
Testing score:  0.78125